.form {
  margin-top: -24px;
}

.form, .form button {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.form input, .form button {
  padding: 1.6rem;
  border-radius: 8px;
  color: var(--gray-100);
}

.form input {
  flex: 1;
  font-size: 1.6rem;
  background: var(--gray-500);
  border: 1px solid var(--Gray-700, #0D0D0D);
  outline: none;
}

.form button {
  border: none;
  background: var(--blue-900);
  font-size: 1.4rem;
  font-weight: 700;
  cursor: pointer;
  transition: .3s;
}

.form button:hover {
  background: var(--blue-500);
}