.emptyContainer {
  border-top: 1px solid var(--gray-400);
  border-radius: 8px;
  padding: 6.4rem 2.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.6rem;
  text-align: center;
}

.emptyContainer h2 {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--gray-300);
  line-height: 22.4px;
  
}