.taskContainer {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.taskContainer h3 {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--blue-500);
}

.taskContainer p {
  padding: 2px 8px;
  border-radius: 999px;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--gray-100);
  background: var(--gray-400);
}