.taskContainer {
  display: flex;
  align-items: start;
  justify-content: space-between;
  column-gap: 1.2rem;
  padding: 1.6rem;
  background-color: var(--gray-500);
  border-radius: 8px;
  border: 1px solid var(--Gray-400, #333);
}

.taskContainer input {
  margin-top: 3px;
}


.taskContainer p {
  font-size: 1.4rem;
  color: var(--gray-100);
  flex: 1;
  /* overflow-wrap: break-word;
  width: 1px; */
}

.taskContainer button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 5px;
}