.container {
  padding: 0 2rem;
}

.wrapper {
  max-width: 73.6rem;
  margin: 0 auto;
}

.taskWrapper {
  display: flex;
  align-items: inter;
  justify-content: space-between;
  margin-top: 6.4rem;
}

.taskListWrapper {
  height: 48rem;
  overflow-y: auto;
  margin-top: 2.4rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.2rem;
}